<div class="bg">
    <img style="height:920px; width:1920px;" src="../../assets/img/plainbg.jpg">
</div>

<!-- <div class="nav-bar">
    <h1>INVOICE</h1>

    <a style="margin-left:1688px;" (click)="logout()">
        <span>LOGOUT</span>
    </a>
</div> -->

<nav class="navbar">
    
    <div class="logo">INVOICE</div>
    
    <ul class="nav-links">
        
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        
        <div class="menu">
            <li><a (click) = "logout()">LOGOUT</a></li>
        </div>
    </ul>
</nav>

<div class="order">
    <img src="../../assets/img/order.png">
</div>

<div class="address-box">

    <div class="logo">
        <img src="../../assets/img/logo.png">
        <h1>Foodiez Spot</h1>
    </div>

    <h2>Delivery To :</h2>
    
    <div class="profile-box">
        <h3> {{username}} <br> {{phoneNo}}</h3>
    </div>

    <h4>Total Cost ----------- &#8377;{{totalPrice}}</h4>
    <h5>Delivery Charges --- &#8377;50</h5>
    <h6>Final Bill ------------ &#8377;{{finalBill}}</h6>

    
    <button type="button" (click)="foodieOrder()">&emsp;PROCEED TO PAY&emsp;</button>
    

    <form #address="ngForm" (ngSubmit)="AddressData(address.value)">
        <label>Door No</label>
        <input class="delAdd" type="text" ngModel required name="doorNo" placeholder="{{doorNo}}" />
        <label>Street</label>
        <input class="delAdd" type="text" ngModel required name="street" placeholder="{{street}}"  />
        <label>Area</label>
        <input class="delAdd" type="text" ngModel required name="area" placeholder="{{area}}" />
        <label>District</label>
        <input class="delAdd" type="text" ngModel required name="district" placeholder="{{district}}" />
        <label>Pincode</label>
        <input class="delAdd" type="text" ngModel required name="pincode" placeholder="{{pincode}}" />

        <input type="submit" [disabled]="!address.valid" value="EDIT">
    </form>

</div>