
<!-- <div class="bg">
    <img style="height:920px; width:1920px;" src="../../assets/img/plainbg.jpg">
  </div> -->

  <div class="nav-bar">
    <h1>RESTAURANTS</h1>
  
    <a routerLink="/category" routerLinkActive="active" style="margin-left:1410px">
      <span>CATEGORY</span>
    </a>
  
    <a style="margin-left:1688px;" (click) = "logout()">
      <span>LOGOUT</span>
    </a>
  </div>

<!-- <div class="hotel">
    <div *ngFor = "let hotel of hoteldata" style="align-items:center; margin-left: 10%;">

        <div class="container">
            <img [src]="hotel.hotelUrl" class="image">
            <div class="overlay  overlayBottom">
                <div class="content">
                    <p>{{hotel.hotelName}}</p> <br>
                    <form #hotel="ngForm" (ngSubmit)="hotelName(hotel.hotelName)">
                        <input type="submit" value="SELECT" >
                    </form>
                </div>
            </div>
        </div>

    </div>
</div> -->


  <div class="hotel">
  <div class="box-container">
      <div class="box" *ngFor="let hotel of hoteldata" >
           <img  [src]="hotel.hotelUrl">
           <h3>{{hotel.hotelName}}</h3>
           <h5>{{hotel.area}}</h5>
           <p>Rs{{hotel.category}}</p> -->
          
            <form #hotel="ngForm" (ngSubmit)="hotelName(hotel.hotelName)">
              <input type="submit" value="SELECT" class="btn">
          </form>
            
      </div>
  </div>
</div>

