@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Macondo&family=Oleo+Script+Swash+Caps&display=swap');
.bg {
    background-color: #333333;
}

.nav-bar {
    position: absolute;
    height: 83px;
    width: 100%;
    background-color: #D6D1CB;
    top: 0px;
}

.nav-bar h1 {
    font-size: 45px;
    margin-top: 15px;
    margin-left: 75px;
    color: rgb(46,120,95);
    font-family: 'Libre Baskerville', serif;}

.nav-bar a {
    position: absolute;
    top: 24px;
    cursor: pointer;
    text-decoration: none;
    font-size: 35px;
    color:#333333;
}

.nav-bar a span {
    font-weight: 500;
}    

.nav-bar a span:hover {
    color: #DB3C2E;
}

.container {
    position: absolute;
    width: 400px;
    height: 250px;
    margin-left:180px; 
    top:205px;
    display: inline-block;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.content, .content p {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}

.content input[type="submit"] {
    width: 200px;
    height: 35px;
    margin-top: 20.5%;
    /* align-items: center; */
    margin-left: 1%;
    border: none;
    height: 45px;
    border-radius: 50px;
    border: 1.5px solid #A8CFF0;
    background-color:#ED1C24;
    color: white;
    font-size: 18px;
  }

  .content input[type="submit"]:hover {
    color: black;
    background-color: #ffff;
    border-color: #ED1C24;
  }

.overlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
    background-color: #008cba;
    border-radius: 10%;
}
.container:hover .overlay{
    opacity: 0.8;
}

.overlayBottom{
    width: 100%;
    height: 0;
    bottom:0;
    left:0;
    background-color: #8f797d;
}
.container:hover .overlayBottom {
    height: 100%;
}

.content p {
    text-align:justify;
    margin-top:-15%;
    font-size: 30px;
}

