
  <div class="nav-bar">
    <h1>RESTAURANTS</h1>
  
    <a routerLink="/category" routerLinkActive="active" style="margin-left:1410px">
      <span>CATEGORY</span>
    </a>
  
    <a style="margin-left:1688px;" (click) = "logout()">
      <span>LOGOUT</span>
    </a>
  </div>

  
  <div class="hotel">
  <div class="box-container">
      <div class="box" *ngFor="let hotel of hoteldata" >
           <img [src]="hotel.hotelUrl">
           <h2>{{hotel.hotelName}}</h2>
           <h4>{{hotel.area}}</h4>
           <span>{{hotel.rating}}</span>
          
          <button class="submit-btn" (click)="hotelName(hotel.hotelName)">SELECT</button>
      </div>
      <div class="end"></div>
  </div>
</div>

