
<div class="bg">
	<img style="height:920px; width:1920px;" src="../../assets/img/bg.jpg">
  </div>
  
  <div class="user-box">
		<h1>USER</h1>
		<h4>Spend a minute here to stop your starve</h4>
		
		<form #user="ngForm" (ngSubmit)="UserData(user.value)">
		  <label>Email</label>
		  <input type="text" ngModel #mailId="ngModel" required pattern="[a-zA-z.@]+$" name="mailId" placeholder="">
		  <span *ngIf="mailId.invalid && mailId.touched" style ="color: #DB3C2E">Invalid input</span>
		  <br>
		  <label>Password</label>
		  <input type="password" ngModel #password="ngModel" required name="password" minlength="8" maxlength="16" placeholder="">
		  <span *ngIf="password.invalid && password.touched" style ="color: #DB3C2E">Invalid input</span>
		  <br>	
  
		  <input type="submit" [disabled]="!user.valid && user.touched" value="Submit">
		</form>
  
	  </div>

	  <p class="para-2">
		If you're a new user? <a routerLink="/register" routerLinkActive="active">Register here</a>
	  </p>


	  <div class="admin-box">
		<h1>ADMIN</h1>
		
		<form #admin="ngForm" (ngSubmit)="AdminData(admin.value)">
		  <label>Email</label>
		  <input type="text" ngModel required name="mailId" #adminMail="ngModel" pattern="[a-zA-z.@]+$" placeholder="">
		  <span *ngIf="adminMail.invalid && adminMail.touched" style ="color: #DB3C2E">Improper Email</span>
		  <br>	
		  <label>Password</label>
		  <input type="password" ngModel required name="password" #adminPassword="ngModel" minlength="8" maxlength="16" placeholder="">
		  <span *ngIf="adminPassword.invalid && adminPassword.touched" style ="color: #DB3C2E">Password must be in range of 8-16 characters</span>
		  <br>
  
		  <input type="submit" [disabled]="!admin.valid" value="Submit">
		</form>
  
	  </div>	  