<div class="bg">
    <img style="height:920px; width:1920px;" src="../../assets/img/plainbg.jpg">
</div>


<!-- <div class="nav-bar">
    <h1>CATEGORY</h1>

    <a style="margin-left:1688px;" (click) = "logout()">
        <span>LOGOUT</span>
    </a>
</div> -->

<nav class="navbar">
    
    <div class="logo">CATEGORY</div>
    
    <ul class="nav-links">
        
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        
        <div class="menu">
            <li><a (click) = "logout()">LOGOUT</a></li>
        </div>
    </ul>
</nav>

<!-- <nav class="navbar">
    <div class="logo">CATEGORY</div>
    <ul class="nav-links">
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <div class="menu">
      <li> <a href="/logout" (click)=logout()>LOGOUT</a></li>
      </div>
    </ul> -->


<div style="align-items:center;">

    <div class="container" style="margin-left:180px; top:205px;">
        <img src="../../assets/img/breakfast.jpg" class="image">
        <div class="overlay overlayBottom">
            <div class="content">
                <p style="text-align:center; margin-top:-15%; font-size: 30px;">Breakfast</p>
                <form #name="ngForm" (ngSubmit)="category('breakfast')">
                    <input type="submit" value="SELECT">
                </form>
            </div>
        </div>
    </div>

    <div class="container" style="margin-left:760px; top:205px;">
        <img src="../../assets/img/lunch.jpg" class="image">
        <div class="overlay overlayBottom">
            <div class="content">
                <p style="text-align:center; margin-top:-15%; font-size: 30px;">Lunch</p>
                <form #name="ngForm" (ngSubmit)="category('lunch')">
                    <input type="submit" value="SELECT">
                </form>
            </div>
        </div>
    </div>

    <div class="container" style="margin-left:1340px; top:205px;">
        <img src="../../assets/img/snacks.jpg" class="image">
        <div class="overlay overlayBottom">
            <div class="content">
                <p style="text-align:center; margin-top:-15%; font-size: 30px;">Snacks</p>
                <form #name="ngForm" (ngSubmit)="category('snacks')">
                    <input type="submit" value="SELECT">
                </form>
            </div>
        </div>
    </div>

    <div class="container" style="margin-left:180px; top:555px;">
        <img src="../../assets/img/beverages.jpg" class="image">
        <div class="overlay overlayBottom">
            <div class="content">
                <p style="text-align:center; margin-top:-15%; font-size: 30px;">Beverages</p>
                <form #name="ngForm" (ngSubmit)="category('beverages')">
                    <input type="submit" value="SELECT">
                </form>
            </div>
        </div>
    </div>

    <div class="container" style="margin-left:760px; top: 555px;">
        <img src="../../assets/img/dinner.jpg" class="image">
        <div class="overlay overlayBottom">
            <div class="content">
                <p style="text-align:center; margin-top:-15%; font-size: 30px;">Dinner</p>
                <form #name="ngForm" (ngSubmit)="category('dinner')">
                    <input type="submit" value="SELECT">
                </form>
            </div>
        </div>
    </div>

    <div class="container" style="margin-left:1340px; top:555px">
        <img src="../../assets/img/fastfood.jpg" class="image">
        <div class="overlay overlayBottom">
            <div class="content">
                <p style="text-align:center; margin-top:-15%; font-size: 30px;">Fastfood</p>
                <form #name="ngForm" (ngSubmit)="category('fastfood')">
                    <input type="submit" value="SELECT">
                </form>
            </div>
        </div>
    </div>


</div>