<div class="bg">
    <img style="height:920px; width:1920px;" src="../../assets/img/bg.jpg">
</div>

<div class="logo">
    <img  src="../../assets/img/logo.png">
    <h1>Foodiez Spot</h1>
</div>

<div class="banner-text">
    <h1>Why Starve</h1>
    <h2>When You Have Us</h2>
    <h3 style="top:375px; margin-left:210px">Think, Choose,</h3>
    <h4 style="top:415px; margin-left:190px">Order, Delivered,</h4>
    <h5 style="top:455px; margin-left:150px">Eat, Enjoy and Repeat.</h5> 
</div>

<div class="reg-login">
    <a style="text-decoration:none;" routerLink="/register" routerLinkActive="active"><span>&nbsp;Register&nbsp;</span></a>
    <a style="text-decoration:none;" routerLink="/login" routerLinkActive="active"><span style="margin-left:352px;">&ensp;Login&ensp;</span></a>
</div>

<div class="media">
    <h1>CONTACT US THROUGH</h1>
    <div class="media">
        <a href="https://www.linkedin.com/"><img style="margin-left:185px;" src="../../assets/img/linkedin.jpg"></a>
        <a href="https://www.instagram.com/?hl=en"><img style="margin-left:240px;" src="../../assets/img/instagram.jpg"></a>
        <a href="https://www.facebook.com/"><img style="margin-left:295px;" src="../../assets/img/facebook.jpg"></a>
        <a href="https://twitter.com/"><img style="margin-left:350px;" src="../../assets/img/twitter.jpg"></a>
        <a href="https://www.youtube.com/"><img style="margin-left:405px;" src="../../assets/img/youtube.jpg"></a>
    </div>
</div>